body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header, .call-to-action, .footer {
    padding: 0 20vw;
}

.header {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-container {
    display: flex;
    gap: 5vh;
    padding: 15vh 0;
}

.hero-content, .hero-image {
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    background-color: #8a8a8a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3070d8;
}

.info {
    text-align: center;
    padding: 5vh 25vw;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 0;
}

.figures {
    display: flex;
    gap: 25px;
    padding: 8vh 0;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.image-caption {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 15vh 25vw;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    margin-top: 0;
}